h1 {
    color: white;
    background-color: blue;
    inline-size: 300px ;
}
h2 {
    color:  whitesmoke ;
    background-color: teal;
    inline-size: 300px;
    font-weight: bolder red ;
}
table {
    
}