h1 {
    color: white;
    background-color: blue;
}
h2 {
    color:  whitesmoke ;
    background-color: teal;
}
h3 {
    border-color: 300px green;
    background-color: gray;
}
body {
    background-color: goldenrod;
}

.jaw > tr>th {
    padding: 10px;
}